[Desktop Entry]
Name=Standby Display
Comment=Google Calendar and Weather Display
Exec=/home/$USER/standby_env/bin/python /home/$USER/standby/standby-pygame.py --cwd /home/$USER/standby
Icon=/home/$USER/standby/icon.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true